body {
  margin: 0px;
}

.container {
  height: 100vh;
  background-color: aqua;
}

.header {
  display: flex;
  background-color: rgb(255, 251, 0);
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 50%;
}

img {
  width: 100px;
}

.navbar {
  display: flex;
  gap: 30px;
  border-radius: 5px;
  width: 20%;
  justify-content: center;
}

p {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
