body {
  margin: 0px;
  background-color: rgb(56, 56, 51);
}

.container {
  height: 100vh;
  align-content: center;
}

.profile {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  justify-content: center;
  display: flex;
  gap: 20px;
  padding: 20px;
  margin: auto;
  width: 60%;
  height: 30%;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
}

.img {
  align-content: center;
}

img {
  width: 90%;
  border-radius: 50px;
}
.prof {
  align-content: center;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}